body {
    background-image: url("../img/1_InitialStreetMap_Final.png");
}

.table {
    width: 200px !important;
}

#k1fromEast {
    position: absolute;
    left: 18%;
    top: 40%;
}

#k1fromNorth {
    position: absolute;
    left: 4%;
    top: 40%;
}

#k1fromWest {
    position: absolute;
    left: 4%;
    top: 64%;
}

#k1fromSouth {
    position: absolute;
    left: 18%;
    top: 64%;
}

#k3fromEast {
    position: absolute;
    left: 75%;
    top: 40%;
}

#k3fromNorth {
    position: absolute;
    left: 63%;
    top: 40%;
}

#k3fromWest {
    position: absolute;
    left: 64%;
    top: 64%;
}